################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ListaDeCompras/bin/Debug/net8.0
/ListaDeCompras/obj
